.current-weather {
  display: flex;
  gap: 1.5rem;
  margin: 1rem auto;
  align-items: center;
  justify-content: center;
  max-width: 500px;

  img {
    width: 64px;
    height: 64px;
  }

  p {
    margin: 0.3rem 0;
  }

  small {
    color: gray;
  }
}
